train/*
model*
test_img/**
test.csv
class_len.png
!model_blc_35ep_8bs.h5
sample_submission_new.csv
submission*
train_set/*
Incep*
class.ipynb
explore.ipynb
get_data.py
wandb/**
dd-3/**
__pycache__/**
detect_train.ipynb
metrics/**
train_renamed/**
labeled_img/**
yolov5_defect_detection.ipynb
dd-5/**
yolov5/**